{% extends "./base.html" %} 
{% block title %}Alimentos{% endblock %} 
{% block body%}
<div class="row">
  <div class="col-md-4 offset-md-4">
    <h2>Ediatar Alimentos</h2>
    <div class="card">
      <div class="card-body">
        <form action="/editarAlimento/" method="POST">
          {% csrf_token %}
          <div class="form-group py-1">
            <input
              value="{{alimento.id}}"
              type="text"
              id="id"
              name="id"
              class="form-control"
              placeholder="id"
              required
              readonly
            />
          </div>
          <div class="form-group py-1">
            <input
              value="{{alimento.nombre}}"
              type="text"
              id="txtNombre"
              name="txtNombre"
              class="form-control"
              placeholder="Nombre"
              maxlength="50"
              required
            />
          </div>
          <div class="form-group py-1">
            <input
              value="{{alimento.categoria}}"
              type="text"
              id="txtCategoria"
              name="txtCategoria"
              class="form-control"
              placeholder="Categoria"
              maxlength="20"
              required
            />
          </div>
          <div class="form-group py-1">
            {% comment %} <select name="plato">
              {% for c in platos %}
              <option value="{{c.codigo}}">{{c.nombre}}</option>
              {% endfor %}
            </select> {% endcomment %}
            <input
              value="{{alimento.plato}}"
              type="text"
              id="plato"
              name="plato"
              class="form-control"
              placeholder="Plato"
              required
              readonly
            />
          </div>
          <div class="form-group py-1">
            <button type="submit" class="btn btn-success btn-block text-white">
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
